:root { 
--blue_gray_50:#ebeff2; 
--blue_gray_100_01:#d0d0d0; 
--blue_gray_100_02:#cecece; 
--black_900_3f:#0000003f; 
--amber_A200:#ffd33c; 
--black_900_d8:#000000d8; 
--gray_900_0c:#591b1b0c; 
--black_900_01:#0f0f0f; 
--black_900:#000000; 
--deep_orange_700:#ec441e; 
--gray_200_01:#e6e8e7; 
--deep_orange_300:#f6876f; 
--pink_800:#b01842; 
--blue_gray_900_01:#192a3e; 
--indigo_800_01:#234b8d; 
--blue_gray_900:#333333; 
--gray_900_0f:#1212120f; 
--black_900_26:#00000026; 
--blue_800_3f:#0c68be3f; 
--gray_700:#555555; 
--black_900_0a:#0000000a; 
--blue_gray_100:#d9d9d9; 
--blue_gray_400:#878787; 
--blue_800:#0c68be; 
--blue_500:#1890ff; 
--red_A200:#ff4d4f; 
--gray_900:#001529; 
--gray_900_01:#191919; 
--light_blue_50:#e6f7ff; 
--gray_200:#f0f0f0; 
--gray_100:#f0f2f5; 
--black_900_72:#00000072; 
--black_900_71:#00000071; 
--gray_200_75:#e6e8e775; 
--gray_100_01:#f6f6f6; 
--indigo_A400:#4c4ddc; 
--indigo_700:#3b4095; 
--white_A700:#ffffff; 
--indigo_800:#2e3192; 
--indigo_600:#275da6; 
}